{% extends "auctions/layout.html" %}

{% block body %}

<h2>Category: {{ category_itemlist }} </h2>
<br>
<div class="container">
    {% if not auctions %}
    This category has no item yet...
    {% else %}
    {% for auction in auctions %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-6 mt-3">
            <a href="{% url 'items' auction.id %}" class="list-group-item list-group-item-action">
                <div class="item-name">Item: {{ auction.item }}</div>
                <div class="item-price">Price: ${{ auction.price }}</div>
                {% if auction.max_bid is None %}
                <div class="item-price">Current Price: ${{ auction.price }}</div>       
                {% else %}
                <div class="item-price">Current Price: ${{ auction.max_bid |floatformat:2 }}</div>
                {% endif %}
                <div class="created-at">Created at: {{ auction.created }}</div>
                <br>
                <img src="{{ auction.image }}" alt={{ auction.item }} width="200" height="250">
            </a>
        </div>
        {% if forloop.counter0|add:1|divisibleby:2 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}