{% extends "auctions/layout.html" %}

{% block body %}

{% if item_listing_status %}
    {% if user.is_authenticated %}

    <div class="d-inline-block">
        {% if watchlist_status %}
            <form action="{% url 'watchlist_func' auction_id=auction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="delwatchlist" value="delwatchlist">Delete from Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'watchlist_func' auction_id=auction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-info" name="addwatchlist" value="addwatchlist">Add to Watchlist</button>
            </form>
        {% endif %}
    </div>  
    <div class="d-inline-block">
        {% if item_status %}
            <form action="{% url 'closeListing' auction_id=auction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning" name="closeListing" value="closeListing">Close Listing</button>
            </form>
        {% endif %}
    </div>
    {% endif %}
    <hr>
    <h2>Listing</h2>

    <div class="row">
        <div class="col-md-5">
            <img src="{{ auction.image }}" alt="{{ auction.item }}" width="250" height="320">
        </div>
        <div class="col-sm-6 flex-column align-items-start border rounded-lg p-3" style="background-color: #ffffff;">
            <div class="item-name mb-4">Item: {{ auction.item }}</div>
            <div class="item-category mb-4">Description: {{ auction.description }}</div>
            <div class="item-price mb-4">Listing Price: ${{ auction.starting_bid }}</div>
            {% if bidding is None %}
                <div class="item-price mb-4">Current Price: ${{ auction.starting_bid }}</div>       
            {% else %}
                <div class="item-price mb-4">Current Price: ${{ bidding.bidding|floatformat:2 }}</div>
            {% endif %}
            <div class="item-category mb-4">Category: {{ auction.get_category_display }}</div>

            {% comment %} <div class="mt-auto text-muted">Created at: {{ auction.created }}</div> {% endcomment %}
            <div class="mt-auto text-muted">Created by: <b>{{ auction.user }}</b> @ {{ auction.created }}</div>
        </div> 
    </div>
    <br>
    <form action="{% url 'bidding' auction_id=auction.id %}" method="POST">
        {% csrf_token %}
        <h2>Bidding</h2>
        {% if not total_bids %}
            There are currently 0 bid(s).
            <br>
            Be the first to bid!
        {% else %}
            There are currently {{ total_bids }} bid(s).
            <br>
            {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-outline w-100">
            <textarea class="form-control" id="bidding" name="bidding" placeholder="Enter your bid (Must be higher than current price)" rows="1"
            style="background: #ffff;"></textarea>
        </div>
        <div class="mt-3">
        <button type="submit" class="btn btn-primary">Place Your Bid</button>
        </div>
    </form>

    <hr>

    <form action="{% url 'comment' auction.id %}" method="POST">
        {% csrf_token %}
        <h2>Comments...</h2>
        {% if not comments %}
            No Comments Yet...
        {% else %}
            {% for comment in comments.all %}
            <strong>
                {{ comment.user }} -
                {{ comment.data_added }}
            </strong>
            <br>
            {{ comment.comments }}
            <br><br>
            {% endfor %}
        {% endif %}
        <br>
        <div class="form-outline w-100">
            <textarea class="form-control" id="comment" name="comment" rows="3"
            style="background: #fff;" placeholder="leave a comment..."></textarea>
        </div>
        <div class="mt-3">
        <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>

{% else %}

    <h2>Listing</h2>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="row">
        <div class="col-md-5">
            <img src="{{ auction.image }}" alt="{{ auction.item }}" width="250" height="320">
        </div>
        <div class="col-sm-6 d-flex flex-column align-items-start border border-secondary">
            <div class="item-name mb-4">Item: {{ auction.item }}</div>
            <div class="item-category mb-4">Description: {{ auction.description }}</div>
            <div class="item-price mb-4">Listing Price: ${{ auction.starting_bid }}</div>
            {% if bidding is None %}
                <div class="item-price mb-4">Current Price: ${{ auction.starting_bid }}</div>       
            {% else %}
                <div class="item-price mb-4">Current Price: ${{ bidding.bidding|floatformat:2 }}</div>
            {% endif %}
            <div class="item-category mb-4">Category: {{ auction.get_category_display }}</div>

            {% comment %} <div class="mt-auto text-muted">Created at: {{ auction.created }}</div> {% endcomment %}
            <div class="mt-auto text-muted">Created by: <b>{{ auction.user }}</b> @ {{ auction.created }}</div>
        </div> 
    </div>
    
    
    <br>
    {% csrf_token %}
    <h2>Bidding</h2>
    {% if not total_bids %}
        There are currently 0 bid(s).
        <br>
        Be the first to bid!
    {% else %}
        There are currently {{ total_bids }} bid(s).
        <br>
    {% endif %}
    <div class="form-outline w-100">
        <textarea class="form-control" id="bidding" name="bidding" placeholder="Listing has been closed." rows="1" 
        disabled></textarea>

    <hr>

    {% csrf_token %}
    <h2>Comments...</h2>
    {% if not comments %}
        No Comments Yet...
    {% else %}
        {% for comment in comments.all %}
        <strong>
            {{ comment.user }} -
            {{ comment.data_added }}
        </strong>
        <br>
        {{ comment.comments }}
        <br><br>
        {% endfor %}
    {% endif %}
    <div class="form-outline w-100">
        <label class="form-label" id="comment">Leave a comment</label>
        <textarea class="form-control" id="comment" name="comment" placeholder="Listing has been closed." rows="1"
        disabled></textarea>
    </div>
    
{% endif %}

{% endblock %}